.venv/
__pycache__/
.pytest_cache/
*.py[cod]

output/*
!output/.gitkeep

data/input/*
!data/input/dbz.jpg

input/pieces/*
!input/pieces/.gitkeep

processed/cropped/*
!processed/cropped/.gitkeep
processed/masks/*
!processed/masks/.gitkeep
processed/contours/*
!processed/contours/.gitkeep
processed/edge_strips/*
!processed/edge_strips/.gitkeep

models/*
!models/.gitkeep

results/*
!results/.gitkeep

metadata/*
!metadata/.gitkeep